//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//- 
//- Copyright (c) 2015-2017 Alexander Williams, Unscramble <license@unscramble.jp>

// #backup container
- sectionName = "backup";
- sectionTitle = "Backup/Restore";
- sectionExtra = "action"

mixin sectionMain
  .panel-body
    h4 Create, cancel, download, or restore a Backup archive.
    br
    form(role='form', class="#{sectionName}-form")
      fieldset
        .form-group
          .row
            .col-lg-6.col-md-6.col-sm-12
              a#jido-button-backup-start.btn.btn-lg.btn-primary.btn-block(href='#', onclick='return event.preventDefault();') Start backup
            .col-lg-6.col-md-6.col-sm-12
              a#jido-button-backup-stop.btn.btn-lg.btn-danger.btn-block(href='#', onclick='return event.preventDefault();', style='display:none;') Cancel backup
        hr
        .form-group
          .alert.alert-info
            | Restore will overwrite files in <code>/data</code>
          label.control-label(for='backup-restore-file')
            | Restore a backup
          input#backup-restore-input.form-control(placeholder='backup.tar', name='backup_file', type='file')
        input.btn.btn-lg.btn-primary.btn-block(id="jido-button-#{sectionName}-upload", type='submit', value='Restore backup', onclick='return event.preventDefault();')

mixin sectionInfo
  .panel-body(id="#{sectionName}Info", style='display:none;')
    h4 Download
    .list-group
      a#jido-data-backup-file.list-group-item(href='#')
        h4.list-group-item-heading
          i.fa.icon-file-archive
          |  Backup files (backup.tar)
    h4 Filesize
    p
      pre.backup-status-filesize
    h4 SHA256 hash
    p
      pre.backup-status-sha256

+sectionHeader(sectionName, sectionTitle)

// /#backup container
